/* seteo de estilos */

* {
    /* propiedades de espaciado */
    padding: unset;
    margin: unset;
    outline: unset;
    border: unset;
    /* la propiedad magica */
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400px;
}




/* el resto del seteo se hace en el body */

body {
    color: #313131;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EFF7F6;
    


ul {
    list-style: none;
}



/* ------------------Estilos de Navbar-------------------- */

.lista-Navbar {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 32px 60px;
    background-color: #ffffff11;
    backdrop-filter: blur(10px);
}

.suscribete {

    background-image:linear-gradient(45deg, #610132, #FC0B85);
    padding: 20px 25px;
    font-weight: bold;
    color:#EFF7F6;
    border-radius: 15px;


}

/* ---------------------------Estilo Jumbotron------------------------------ */

.jumbotron {
    padding: 113px 120px;
}

.jumbotron h1 {
    font-size: 56px;
}
.jumbotron h1 span {
    font-size: 56px;
    color: #fc67b2;
}

.jumbotron-navbar {
    background-image: url(/assets/Jumbotron\ _div_\ \(1\).png);
    color:#EFF7F6;
    background-size: cover;
    text-align: center;
}

/* ----------------------------Seccion de Tarjetas------------------------------------- */
.tarjetas {
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.encabezado img {
    width: 100%;
}

.tarjeta {
    display: flex;
    justify-content: space-between;
    padding: 29px 60px;
    flex-wrap: wrap;

}

h2 {
    font-size: 24px;
}
.descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.descripcion p {
    flex-wrap: wrap;
}
.tarjeta a {
    padding: 36px 8px;
    border-radius: 15px;
    box-shadow: 16px 20px 32px -20px rgba(135,135,135,0.82);
    align-items: center;
   
}

.tarjeta a img {
    object-fit: cover;

}

/* ----------------------Seccion de noticias----------------------------- */

.noticias {
    display: flex;
    flex-direction: column;
    padding: 60px;
}
.noticias img {
    object-fit: cover;
    width: 50%;
}
.noticia-1 {
    display: flex;
    padding: 0px 60px;

}
.texto-noticia {
    display: flex;
    flex-direction: column;
    background-image: url(assets/Texto_div_.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 69px 31px;
    width: 50%;
}
.tipo-noticia {
    display: flex;
    justify-content: space-between;

}
h3 {
    font-size: 25px;

}
.contenido-noticia p {
    font-size: 19px;
}
.leer {
    display: flex;
    justify-content: space-between;
}

.noticia-2 {
    display: flex;
    padding: 0px 60px;
}
/* -------------2do Jumbo------------------ */

.jumbotron-2 {
    padding: 113px 120px;
}

.jumbotron-2 h4 {
    font-size: 56px;
}

.jumbotron-2 {
    background-image: url(assets/Hero\ 2\ -\ h4\ _section_.svg);
    color:#EFF7F6;
    background-size: cover;
    text-align: center;
}

/* ---------------Footer------------------------ */
footer {
    display: flex;
    flex-direction: column;
    background-image: url(assets/Jumbotron\ _div_\ \(1\).png);
    color: #EFF7F6 ;
    align-items: center;
    justify-content: center;
}

.formulario {
    display: flex;
    background-color: #ffffff26;
    backdrop-filter: blur(10px); 
    gap:42px;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 29px 60px;

}
.formulario h5{
    font-size: 24px;
}
.barra {
    display: flex;
    background-color: #EFF7F6;
    border-radius: 36px;
    color: #313131;
    align-items: center;
    width: 512px;  
    justify-content: space-between;
    padding: 12px;  

}



.lista-Navbar-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: center;
    
}

.navbar-2 {
    display: flex;
    justify-content: space-between;
    padding: 32px 60px;

}

.redes {
    gap: 20px;
}


}